html,
body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-color: #D3BEAC;
}

footer {
  background-color: #D3BEAC;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}